.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__inputButton {
    border: none;
    padding: 10px;
    color: white;
    background-color: hsl(180, 100%, 25%);
    cursor: pointer;
    transition: 0.3s;
}

.form__inputButton:hover {
    background: hsl(180, 100%, 30%);
    transform: scale(1.1);
}

.form__inputButton:active {
    background: hsl(180, 100%, 35%);
}