.taskList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.taskList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.taskList__span {
    word-break: break-all;
}

.taskList__span--done {
    text-decoration: line-through;
}

.taskList__button {
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.taskList__button--toggleDone {
    background: hsl(120, 61%, 34%);
}

.taskList__button--toggleDone:hover {
    background: hsl(120, 61%, 39%);
}

.taskList__button--toggleDone:hover {
    background: hsl(120, 61%, 44%);
}

.taskList__button--remove {
    background-color: hsl(348, 83%, 45%);
}

.taskList__button--remove:hover {
    background-color: hsl(348, 83%, 60%);
}

.taskList__button--remove:active {
    background-color: hsl(348, 83%, 70%);
}